body{
  width: 100%;
  text-align: center;
}

.square_contents {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

.square_contents div {
  position: relative;
  width: 11.3%;
  background-color: #12812e;
}

.square_contents div::before {
  content: "";
  display: block;
  padding-top: 100%;
}

/*********************罫線**********************************************/

.board_white_border {
  border-right: solid 1px white;
  border-bottom: solid 1px white;
}

.board_black_border_r{
  border-right: solid 1px black;
  border-bottom: solid 1px white;
}

.board_black_border_b{
  border-bottom: solid 1px black;
  border-right: solid 1px white;
}

.board_black_border_rb{
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}


/**********************行列幅の設定*****************************************/
.square_contents .corner {
  background-color: #000000;
  color: white;
  width: 2rem;
  height: 2rem;
}

.square_contents .raw_name {
  background-color: #000000;
  color: white;
  height: 2rem;
  border-right: solid 1px black;
}

.square_contents .col_name {
  background-color: #000000;
  color: white;
  width: 2rem;
}

.square_contents .raw_name p {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.square_contents .col_name p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/****************************石の色**************************************/

.dice_b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: black;
}

.dice_w {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
}


button {
  margin: 10px 0;
}
